@charset "UTF-8";

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  font-family: 'Gilroy', sans-serif;
  font-size: 20px;
  color: #000000;
}

.overflow-hidden {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 100%;
  margin: 5% 6% 2%;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background: -o-radial-gradient(79.36% 26.09%, 54.31% 53.54%, #232323 0%, rgba(22, 22, 22, 0.97) 0.01%, rgba(18, 18, 18, 0.96) 49.48%, rgba(0, 0, 0, 0.95) 100%);
  background: radial-gradient(54.31% 53.54% at 79.36% 26.09%, #232323 0%, rgba(22, 22, 22, 0.97) 0.01%, rgba(18, 18, 18, 0.96) 49.48%, rgba(0, 0, 0, 0.95) 100%);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  background: url("../img/header/bacground2.png") left center no-repeat;
  background-size: cover;
}

.header__body:before {
  content: '';
  display: block;
  padding: 10%;
  position: absolute;
  top: 2%;
  left: -3%;
  background: url("../img/header/стекло1.png") center/cover no-repeat;
}

.header__body:after {
  content: '';
  display: block;
  padding: 8%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background: url("../img/header/стекло2.png") center/cover no-repeat;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3% 6% 2%;
}

.header-bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.header-bg img {
  position: absolute !important;
  height: auto;
}

.header-bg__bullet_1 {
  left: auto !important;
  top: 25% !important;
  right: 2% !important;
  width: 20%;
}

.header-bg__bullet_2 {
  width: 15%;
  top: auto !important;
  bottom: -15% !important;
}

.header__gun {
  position: absolute;
  right: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gun__smoke {
  margin-left: auto;
  width: 40%;
  position: relative;
}

.gun__smoke img {
  max-width: 100%;
  margin-left: -30%;
  -webkit-animation: scale 15s linear alternate infinite;
          animation: scale 15s linear alternate infinite;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1) skew(-5deg);
            transform: scale(1) skew(-5deg);
  }

  25% {
    -webkit-transform: scale(1.1) skew(10deg);
            transform: scale(1.1) skew(10deg);
  }

  50% {
    -webkit-transform: scale(1) skew(-5deg);
            transform: scale(1) skew(-5deg);
  }

  75% {
    -webkit-transform: scale(1.1) skew(5deg);
            transform: scale(1.1) skew(5deg);
  }

  100% {
    -webkit-transform: scale(1) skew(-10deg);
            transform: scale(1) skew(-10deg);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1) skew(-5deg);
            transform: scale(1) skew(-5deg);
  }

  25% {
    -webkit-transform: scale(1.1) skew(10deg);
            transform: scale(1.1) skew(10deg);
  }

  50% {
    -webkit-transform: scale(1) skew(-5deg);
            transform: scale(1) skew(-5deg);
  }

  75% {
    -webkit-transform: scale(1.1) skew(5deg);
            transform: scale(1.1) skew(5deg);
  }

  100% {
    -webkit-transform: scale(1) skew(-10deg);
            transform: scale(1) skew(-10deg);
  }
}

.smoke_absolute {
  position: absolute;
  left: 0px;
}

.gun__img {
  margin-left: auto;
  width: 40%;
}

.gun__img img {
  max-width: 100%;
  margin-top: -40%;
  margin-left: -10%;
  z-index: 0;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__contact,
.top-header__text,
.contact__tel-me {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
}

.top-header__contact span,
.top-header__contact .contact__tel,
.top-header__text span,
.top-header__text .contact__tel,
.contact__tel-me span,
.contact__tel-me .contact__tel {
  display: block;
  color: #D6B56E;
  margin-bottom: 5px;
}

.top-header__img {
  z-index: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.top-header__img img {
  max-width: 100%;
}

.top-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__tel {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}

.contact__tel-me {
  font-family: Gilroy;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  border-bottom: 1px dotted #ffffff;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  max-width: 1200px;
}

.info-header__title {
  margin-top: 7%;
  margin-bottom: 3%;
  color: #ffffff;
  font-size: 48px;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  line-height: 55px;
}

.info-header__description {
  font-size: 34px;
  font-size: calc(20px + 14 * ((100vw - 320px) / 1600));
  line-height: 39px;
  color: #D6B56E;
  display: block;
  margin-bottom: 3%;
}

.info-header__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -30px;
  width: 100%;
}

.info-header__block {
  margin: 0px 30px 40px;
}

.block {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  min-height: 110px;
}

.block__top {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  padding-left: 120px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.block__top img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  left: -5%;
}

.block__top span {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  max-width: 290px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 23px;
  color: #FFFFFF;
  font-weight: 500;
}

.block-top_active {
  background-color: #ffffff;
  -webkit-transform: translateY(-115%);
      -ms-transform: translateY(-115%);
          transform: translateY(-115%);
  position: relative;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.block-top_active img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  margin-left: -40px;
}

.block-top_active span {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #000;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.block__bottom {
  background: rgba(255, 255, 255, 0.06);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  font-size: 14px;
  line-height: 140%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 10px;
  z-index: 0;
  overflow: hidden;
  width: 90%;
  border-radius: 0px 0px 10px 10px;
}

.block__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  padding: 10px 25px;
}

.block__bottom li {
  padding: 10px;
}

.block__bottom li img {
  margin-right: 10px;
}

.block-bottom_active {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: auto;
  background-color: #EFEFEF;
}

.block-bottom_active ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.info-header__group {
  margin-top: 20px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group__arrow {
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #4F4531;
  text-shadow: 0px 1px 0px #FFF3D8;
  border-radius: 90% / 850%;
  max-height: 80px;
  padding: 30px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 10px 70px rgba(255, 229, 172, 0.15);
          box-shadow: 0px 10px 70px rgba(255, 229, 172, 0.15);
  z-index: 4;
  background: #8A774E;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
}

.button:before {
  border: 2px solid #FFE5AC;
  z-index: -1;
  top: -5px;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  border-radius: 90% / 850%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE5AC), color-stop(0.01%, #FFE5AC), to(#B99C5D));
  background: -o-linear-gradient(top, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  background: linear-gradient(180deg, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
}

.button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
  width: 260px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE5AC), to(#B99C5D));
  background: -o-linear-gradient(top, #FFE5AC 0%, #B99C5D 100%);
  background: linear-gradient(180deg, #FFE5AC 0%, #B99C5D 100%);
  border-radius: 50%;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.info-header__button {
  margin: 20px;
  padding-right: 90px;
}

.info-header__button img {
  position: absolute;
  right: 0;
}

.section__slider {
  display: block;
  text-align: center;
}

.slider__item {
  text-align: center;
}

.slick-slider {
  position: relative;
}

.slick-track,
.slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-arrow {
  position: absolute;
  bottom: 30px;
  left: 30%;
  z-index: 10;
  font-size: 0;
  width: 140px;
  height: 60px;
  border: 1px solid #D6B56E;
  border-radius: 60px;
}

.first-arrow:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 59px;
  width: 1px;
  background-color: #D6B56E;
}

.slick-arrow {
  font-size: 0;
  position: absolute;
  width: 17px;
  height: 17px;
  padding: 30px 35px;
  margin-top: -2px;
}

.slick-arrow.slick-prev {
  background: url("../img/icon/prev.svg") center/17px 17px no-repeat;
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
  background: url("../img/icon/next.svg") center/17px 17px no-repeat;
}

.first-slider-section {
  position: relative;
  margin-bottom: 2%;
}

.first-slider__item {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: calc(25px + 13 * ((100vw - 320px) / 1600));
  margin-bottom: 1%;
}

.subtitle {
  display: block;
  text-align: center;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
}

.first-slider__subtitle {
  margin-bottom: 3%;
}

.first-slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-slider-first__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -5%;
}

.body-slider-first__img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.body-slider-first__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.333%;
          flex: 0 1 40.333%;
  padding-top: 2%;
  padding-bottom: 110px;
}

.first-slider-text {
  width: 100%;
  line-height: 28px;
  margin-bottom: 10%;
}

.first-slider-text:last-child {
  margin: 0px 0px 0px 0px;
}

.first-slider-text__title {
  font-size: calc(16px + 12 * ((100vw - 320px) / 1600));
  font-weight: 600;
  margin-bottom: 1%;
  display: block;
}

.first-slider-text__description {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 21px;
}

.first-slider-text__description span {
  color: #B99C5D;
}

.body-slider-first__solutions {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 405px;
  background: url("../img/first-slider/border1.png") top/100% 100% no-repeat;
  position: relative;
  margin: -15px 0px;
}

.body-slider-first__solutions:after {
  content: '';
  display: block;
  padding: 30%;
  position: absolute;
  bottom: 0px;
  right: -20%;
  background: url("../img/first-slider/book.png") center/cover no-repeat;
}

.first-slider-solutions__title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 20%;
}

.first-slider-solutions__ul {
  margin-left: 20%;
  margin-right: 15%;
  margin-bottom: 35%;
}

.first-slider-solutions__ul li {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  margin-bottom: 30px;
  margin-right: 2%;
  max-width: 213px;
}

.first-slider-solutions__ul li:last-child {
  max-width: 150px;
}

.first-slider-solutions__ul li img {
  display: block;
  margin-bottom: 5%;
}

.funnel__subtitle {
  margin-bottom: 2%;
}

.funnel__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.funnel__info-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6%;
}

.funnel__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.funnel__value {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.info-block__item {
  max-width: 180px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 160px;
  padding: 15px 5px 10px;
}

.info-block__title {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  text-align: center;
  color: #191919;
}

.info-block__number {
  font-weight: 500;
  font-size: calc(45px + 19 * ((100vw - 320px) / 1600));
  line-height: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE5AC), color-stop(0.01%, #FFE5AC), to(#B99C5D));
  background: -o-linear-gradient(top, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  background: linear-gradient(180deg, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.content-funnel__body {
  background: url("../img/funnel/funnel.png") top center/contain no-repeat;
  width: 100%;
}

.body-funnel__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-funnel__title {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  color: #555555;
  text-shadow: 0px 1px 1px #FFFFFF;
}

.body-funnel__number {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE5AC), color-stop(0.01%, #FFE5AC), to(#B99C5D));
  background: -o-linear-gradient(top, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  background: linear-gradient(180deg, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
}

.row_1 {
  padding: 8.5% 17% 0% 17%;
}

.row_2 {
  padding: 12% 20% 0% 20%;
}

.row_3 {
  padding: 12% 24% 0% 24%;
}

.row_4 {
  padding: 10% 28% 0% 28%;
}

.row_5 {
  padding: 10% 30% 0% 30%;
}

.row_6 {
  padding: 10% 32% 4.5% 32%;
}

.row_6 .body-funnel__title {
  color: #ffffff;
}

.row_6 .body-funnel__number {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-funnel-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}

.content-funnel-social__title {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE5AC), color-stop(0.01%, #FFE5AC), to(#B99C5D));
  background: -o-linear-gradient(top, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  background: linear-gradient(180deg, #FFE5AC 0%, #FFE5AC 0.01%, #B99C5D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: calc(25px + 23 * ((100vw - 320px) / 1600));
  line-height: 57px;
}

.content-funnel-social__description {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  margin-bottom: 20px;
}

.content-funnel-social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-funnel-social__link {
  margin: 0px 10px;
}

.value-funnel__label {
  display: block;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    margin: auto;
  }
}

@media (max-width: 1170px) {
  .header__gun {
    height: 100%;
  }

  .top-header__contact,
  .top-header__text,
  .contact__tel-me {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .top-header__contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .body-slider-first__img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-slider-first__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }

  .first-slider-text {
    margin-bottom: 30px;
    line-height: 20px;
  }

  .body-slider-first__solutions {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .funnel__body {
    padding-top: 60px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 991.98px) {
  .info-header__title {
    line-height: 30px;
  }

  .info-header__description {
    line-height: 30px;
  }

  .block-top_active {
    -webkit-transform: translateY(-135%);
        -ms-transform: translateY(-135%);
            transform: translateY(-135%);
  }

  .first-arrow {
    width: 105px;
    height: 45px;
  }

  .first-arrow:after {
    height: 44px;
  }

  .slick-arrow {
    padding: 22px 25px;
  }

  .first-slider__item {
    padding-top: 30px;
  }

  .first-slider-text {
    margin-bottom: 0px;
  }

  .first-slider-solutions__ul li:last-child {
    max-width: 100px;
  }

  .funnel__body {
    padding-top: 50px;
  }

  .content-funnel-social__title {
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .top-header__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .top-header__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }

  .top-header__contact {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .info-header__title {
    line-height: 25px;
    margin-top: 10%;
  }

  .info-header__description {
    line-height: 25px;
  }

  .block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .block-top_active {
    -webkit-transform: translateY(-115%);
        -ms-transform: translateY(-115%);
            transform: translateY(-115%);
  }

  .block-top_active img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin-left: 0;
  }

  .block-top_active span {
    margin-left: 10px;
  }

  .info-header__group {
    margin: auto;
  }

  .group__arrow {
    display: none;
  }

  .first-arrow {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 4%;
  }

  .first-slider__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-slider-first__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .body-slider-first__content {
    padding-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .body-slider-first__solutions {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
    margin: 0;
    padding: 30px 0px;
  }

  .body-slider-first__solutions:after {
    padding: 10%;
    right: 0;
  }

  .first-slider-solutions__title {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .first-slider-solutions__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .first-slider-solutions__ul li:last-child {
    max-width: 100%;
    margin-right: 0;
  }

  .first-slider-solutions__ul li {
    margin-bottom: 5%;
    max-width: 100%;
    width: 100%;
  }

  .first-slider-solutions__ul li img {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5%;
  }

  .funnel__body {
    padding-top: 30px;
  }

  .content-funnel-social__title {
    line-height: 27px;
  }

  .content-funnel-social__description {
    margin-bottom: 10px;
  }
}

@media (max-width: 576.98px) {
  .top-header__contact,
  .top-header__text,
  .contact__tel-me {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .top-header__contact {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 15px;
  }

  .info-header__title {
    margin-top: 13%;
  }

  .info-header__description {
    line-height: 20px;
  }

  .info-header__blocks {
    margin: 0;
  }

  .info-header__block {
    margin: 20px auto;
  }
}